.SingleMovie {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .Container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    width: 80%;
    // height: 500px;

    .Video {
      width: 100%;
      border-radius: 4px;
      background-size: contain !important;
    }

    .InfoContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      .Header {
        display: flex;
        flex-direction: column;

        .Title,
        .Text {
          color: white;
          font-size: 2.4em;
          font-weight: 600;
          margin-bottom: 0.5em;
        }

        .Text {
          line-height: 150%;
          font-size: 1.1em;
          font-weight: 400;
          margin-bottom: 2em;
        }

        .Actors {
          display: grid;
          flex-wrap: nowrap;
          grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
          gap: 5px;
          justify-content: space-between;
        }
      }

      .Footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 20px;


        .Button {
          border-radius: 15px;
          padding: 10px;
          border: none;
          background: #1db989;
          color: white;
          width: fit-content;
          cursor: pointer;
          font-size: 14px;
          font-weight: 400;
          margin-right: 20px;
          margin-bottom: 15px;
          width: 100%;
        }
      }
      @media screen and (min-width: 900px) {
        .Footer {
          flex-direction: row;
          .Button {
            width: fit-content;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1000px) {
    .Container {
      flex-direction: row;
      justify-content: space-between;
      min-height: 350px;

      .ytp-cued-thumbnail-overlay-image {
        width: 100px;
        background-size: contain !important;
        -webkit-background-size: contain !important;
      }
    }
  }
}
