@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

.Navbar {
  position: sticky;
  width: 100%;
//   background-color: rgb(35, 35, 177);
  background-color: rgba(0,0,0,.85);
  margin-bottom: 20px;
  z-index: 1000;

  .HeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 30px;
    width: 100%;
    margin: 0 auto;

    .HamburgerMenu {
      background-color: transparent;
      border: none;
      transition: all 0.3s linear;
      cursor: pointer;

      &:hover {
        // color: rgb(83, 204, 124);
        color: seagreen;
        transform: rotate(90deg);
      }

      &:hover .ActiveMenuIcon {
        // color: rgb(83, 204, 124);
        color: seagreen;
      }

      .ActiveMenuIcon {
        // color: white;
        font-weight: 200;
        // animation: spin 0.5s linear;
      }
    }

    @media only screen and (min-width: 900px) {
      .HamburgerMenu {
        display: none;
      }
    }

    .LinksContainer {
      display: block;
      position: absolute;
      background: radial-gradient(at top left, #fffbf9 0%, #f0dfd2 100%);
      left: 0;
      top: 100%;
      padding: 0;
      width: 100vw;
      height: 100vh;
      z-index: 1000;
      transition: all 0.2s linear;
      transform: translate(-100%);
    }

    .ShowLinksContainer {
      transform: translate(0);
      scrollbar-width: none;
    }

    @media only screen and (min-width: 900px) {
      .LinksContainer {
        background: transparent;
        display: flex;
        flex-direction: row;
        position: relative;
        height: 100%;
        width: fit-content;
        transform: translate(0);
        overflow: hidden;
      }
    }

    .Links {
      list-style: none;
      padding: 0;
      text-align: center;

      .Link {
        color: black;
        font-family: "Kodchasan", "Segoe UI";
        text-decoration: none;
        margin-top: 3em;

        .Item {
        //   color: #cc9955;
          color: #1db989;
          font-weight: 700;
          text-decoration: none;

          &:hover {
            // color:  rgb(83, 204, 124);
            color: seagreen;
          }
        }
      }

      @media only screen and (min-width: 900px) {
        .Link:not(:first-of-type) {
          margin-left: 2em;
          margin-top: 0;
        }
        .Link:first-of-type {
          // margin-left: 2em;
          margin-top: 0;
        }
      }
    }

    @media only screen and (min-width: 900px) {
      .Links {
        display: flex;
        flex-direction: row;
        margin: 0;
      }
    }
  }

  @media screen and (min-width: 900px) {
    .HeaderContainer {
      max-width: 1200px;
      width: 95%;
    }
  }
  @media screen and (min-width: 1300px) {
    .HeaderContainer {
      max-width: 1400px;
      width: 70%;
    }
  }

  .Logo {
    font-family: "Kodchasan";
    .LogoLink {
      text-decoration: none;
      color: black;
    }
    // width: 100%;
  }
}
