.Button, .ActiveButton {
  border-radius: 4px;
  padding: 5px 5px;
  margin-right: 20px;
  border: none;
  background: rgb(221, 208, 208);
  color: white;
  cursor: pointer;
  
  &:hover {
    background: rgb(184, 178, 178);
  }
}

.ActiveButton {
  background: rgb(0, 110, 255);
}


